---
layout: default
title: Overview
class: overview
nav-order: 1
---


{% assign days = site.data.days %}


<section class="advent offer">


  <!-- CURRENT DAYS OFFER
  ====================================-->
  {% for day in days %}

  <div class="advent--page advent--page-offer advent--page-active" data-advent-page="offer" data-advent-date="{{ day.date }}" style="background-image: url('{{ site.baseurl }}/img/days/bg-day-{{ forloop.index }}.jpg');">


    <!-- SE ADVENT LOGO -->
    <a class="logo logo--secret-escapes" href="https://www.secretescapes.com/">
      <img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/logo.png" alt="Secret Escapes logo">
      <span class="current-advent">
        <span class="current-advent__day">DAY</span>
        <span class="current-advent__num">{{ forloop.index }}</span>
      </span>
    </a>


    <!-- OFFER DESCRIPTION -->
    <div class="advent--page-offer-content">

      <div class="advent-offer row row--padding row--columns-8-4-gutters row--columns-vertical-align{% if day.partner %} has-partner{% endif %}">
        <div class="row__column">
          <h2 class="advent-offer--title">{{ day.title }}</h2>
          {% if day.location or day.price %}
          <hr />
          <ul class="advent-offer--details">
            {% if day.location %}<li>{{ day.location }}</li>{% endif %}
            {% if day.price %}<li>From {{ day.price }} {{ day.price-details }}</li>{% endif %}
          </ul>
          {% endif %}
          <a href="{{ day.link }}" class="btn advent-offer--btn">BOOK NOW</a>
        </div>
        <div class="row__column">
          {% if day.partner %}
          <div class="advent-offer--logo" style="background-image: url('{{site.baseurl}}/img/days/partner-{{ day.partner }}.png');"></div>
          {% endif %}
          <p class="lead-paragraph">{{ day.description }}</p>
        </div>
      </div>


      {% if day.terms-and-conditions %}
      <!-- T&C MODAL -->
      <p class="offer-tc"><a href="#" class="js-open-modal">Terms & conditions</a></p>
      <div class="js-modal modal is-closed">
        <div class="modal__wrap row">
          <div class="js-close-modal modal__close"></div>
        </div>
        <div class="modal__wrap row">
          <div class="modal__content row--padding">
            <h4>Terms and Conditions</h4>
            <p>{{ day.terms-and-conditions }}</p>
          </div>
        </div>
      </div>
      <!-- END T&C MODAL -->
      {% endif %}
    </div>


  </div>
  {% endfor %}
  <!-- END CURRENT DAYS OFFER -->


  <!-- HOLDING PAGE -->
  <div class="advent--page advent--page-holding advent--page-active" data-advent-page="offer" style="background-image: url('{{ site.baseurl }}/img/days/bg-day-default.jpg');">
    <!-- SE ADVENT LOGO -->
    <a class="logo logo--secret-escapes" href="https://www.secretescapes.com/">
      <img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/logo.png" alt="Secret Escapes logo">
    </a>
  </div>
  <!-- END HOLDING PAGE -->


  <div class="advent-toggle offer">
    <div class="advent-toggle--content">
      <span class="advent-toggle--btn">
        <img src="{{ site.baseurl }}/img/icons/advent-toggle.png" class="js-svg-swap" width="40" alt="→">
      </span>
      <span class="advent-toggle--text">
        View the advent calendar
      </span>
    </div>
  </div>


  <!-- FULL ADVENT CALENDAR
  ====================================-->
  <div class="advent--page advent--page-calendar" data-advent-page="calendar">
    {% for day in days %}
      <div class="advent-calendar-day color-white" data-advent-date="{{ day.date }}" style="background-image: url('{{ site.baseurl }}/img/days/bg-day-{{ forloop.index }}.jpg');">
        <div class="advent-calendar-day--content">
          <h4 class="advent-calendar-day--title">Day {{ forloop.index }}</h4>
          <h6>{{ day.date | date: '%B %d' | upcase }}</h6>
        </div>
        <div class="advent-calendar-day--details">
          <h5>{{ day.title | upcase }}</h5>
        </div>
      </div>
    {% endfor %}

    <div class="advent-calendar-day advent-calendar-day--christmas color-white">
      <div class="advent-calendar-day--content">
        <h4 class="advent-calendar-day--title">YAY CHRISTMAS!</h4>
      </div>
    </div>

  </div><!-- END FULL ADVENT CALENDAR -->



</section>

